/*
 * large
 */

/******************************************************************
application.html.erb
 ******************************************************************/
.header{
  .header-main {
    width: 980px;

    > div{
      display: inline-block;
      vertical-align: middle;
    }

    .header-title{
      text-align: left;
      width: 500px;
      padding-left: 15px;
      padding-bottom: 8px;
      h1{
        margin-bottom: 0;
        img{
          width: 60%;
        }
      }
      .header-sub-title{
      }
    }

    .header-search{
      width: 380px;
      .form-control{
        float: left;
        width: 80%;
      }
    }

    .header-login{
      .account-text{
        display: block;
        color: $white;
      }
      width: 60px;
      .dropdown-child{
      }
    }

  }/* header-main */
}

.wrapper{
    width: 980px;
}

.footer{
  p {
    width: 980px;
  }
}

/******************************************************************
matarials/_form.erb
******************************************************************/
.material-image-preview{
  width: auto;
  min-width: 50%;
}
